.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 40.5rem;
    height: 35.5rem;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    color: white;
    border-radius: 12px;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
  }
  
  /* Media Query for screens smaller than 768px (adjust as needed) */
  @media (max-width: 768px) {
    .card {
      width: 90%; /* Adjust the width for smaller screens */
      height: auto; /* Let the height adjust based on content */
    }
  }
  