/* Base styles for the form */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px; /* Adjust the gap between form elements as needed */
}

.info label {
    font-weight: bold;
    margin-bottom: 8px;
}

.info input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px; /* Adjust the margin as needed */
}

.radios {
    display: flex;
}

.error-text{
    color: red;
}

/* Media Query for screens smaller than 768px (adjust as needed) */
@media (max-width: 768px) {
    .info {
        width: 90%; /* Adjust the form width for smaller screens */
    }

    .info input {
        width: 100%; /* Ensure inputs take up full width */
    }
}
